.fachbereichListe {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.arbeitsschritt {
	margin: 1.8em auto;
}

.op-bericht {
	margin: 1em auto;
	background-color: #e0ffff;
	border: 2px solid black;
}

.theader {
	font-weight: bold;
}