<div class="container">
	<h2>Patienten</h2>
	<div class="row content-secondary">
		<div class="col-sm-2">
			<label class="control-label align-right">SVNR-Suche</label>
			<input type="text" class="form-control" ng-model="svnrFilter">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<table class="table table-hover">
				<thead>
				<tr>
					<th>SVNR</th>
					<th>Vorname</th>
					<th>Nachname</th>
					<th>Strasse</th>
					<th>PLZ</th>
					<th>Ort</th>
					<th>Versicherung</th>
					<th>Blutgruppe</th>
					<th>Rhesusfaktor</th>
				</tr>
				</thead>

				<tbody>
				<tr ng-repeat="patient in plc.patientList | filter: {patientenSVNR : svnrFilter}">
					<td ng-bind="patient.patientenSVNR"></td>
					<td ng-bind="patient.patientenVorname"></td>
					<td ng-bind="patient.patientenNachname"></td>
					<td ng-bind="patient.patientenStrasse"></td>
					<td ng-bind="patient.patientenPLZ"></td>
					<td ng-bind="patient.patientenOrt"></td>
					<td ng-bind="patient.patientenVersicherung"></td>
					<td ng-bind="patient.patientenBlutgruppe"></td>
					<td ng-bind="patient.patientenRhesusfaktor"></td>
					<td><button ng-click="plc.deletePatient($index)" class="btn btn-danger"><i class="fa fa-remove"> </i></button></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>